<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Movie Trivia</title>
    <!-- montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- end montserrat -->
</head>
<body>
    <section id="welcome">
        <div class="logo_title">
            <h1>Movie Trivia</h1>
            <img src="images/letter-m.png" alt="">
        </div>
        <div class="movies">
            <div class="movie" href="#questionMode">
                <img src="" alt="">
                <p>Friends</p>
            </div>
            <div class="movie" href="#questionMode">
                <img src="" alt="">
                <p>How I Met Your Mother</p>
            </div>
            <div class="movie" href="#questionMode">
                <img src="" alt="">
                <p>The Office</p>
            </div>
        </div>
    </section>
    <section id="questionMode">
        <div class="playingMode">
            <h2>Playing Mode</h2>
        </div>
        <div class="timeBased">
            <img src="" alt="">
            <p>Time Limit</p>
        </div>
        <div class="questionNumber">
            <img src="" alt="">
            <p>10 Questions</p>
        </div>
    </section>
    <section id="Game">
        <div>
            <h1>Here is the games will be</h1>
        </div>
    </section>



    <script src="script.js" defer></script>
</body>
</html>